.legend {
    font-size: 14px;
    margin-top: -2rem;
    text-align: center;
    font-weight: bold;
}

.size {
    width: 50vw;
    height: 50vh;
}

@media screen and (max-width: 500px) { .size{ width: 100vw !important}};