.page-title {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .root-parent {
    width: 100vw;
    height: 100vh;
  }
  
  .root-div {
    overflow-y: auto;
    height: 80vh;
  }
  