@import url('https://fonts.cdnfonts.com/css/bender');
@import './../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  font-family: 'Bender', sans-serif !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black !important;
  color: white;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.light-theme {
  background: white;
  color: black;
}

.dark-theme {
  background: black;
  color: white;
}

span {
  font-size: 14px;
}

mat-label {
  font-size: 14px;
}