<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 text-white">
            <h1 mat-dialog-title data-testid="dialog-title">{{titleText()}}</h1>
            @if (displayedMap() === 'The Lab') {
                <h1 mat-dialog-content data-testid="lab-content">{{labContentText()}}</h1>
            } 
            <hr>
            <div class="float-end" mat-dialog-actions>
                <button
                    mat-dialog-close
                    color="primary"
                    class="ok-button"
                    data-testid="confirmation-button"
                >
                    {{buttonText()}}
                </button>
            </div>
        </div>
    </div>
</div>
