<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 text-white">
            @if (sessionMemoryService.displayedMap() === 'The Lab') {
                <h1 mat-dialog-title>Selected map: {{sessionMemoryService.displayedMap()}}! </h1>
            } 
            @else {
                <h1 mat-dialog-title>Selected map and time: {{sessionMemoryService.displayedMap()}} at {{sessionMemoryService.displayedTime()}}! </h1>
            }
            <hr>
            <div class="float-end" mat-dialog-actions>
                <button mat-raised-button color="primary" class="ok-button" (click)="closeDialog()"> Ok </button>
            </div>
        </div>
    </div>
</div>
